<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Update Rider</title>
</head>

<body>

    <ul>
        <li><a href="/rider">Rider</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/calendar">Calender</a></li>
        <li><a href="/results">Results</a></li>

    </ul>

    <div class="form">
        <% if(type === 'rider') { %>
        <form action="/create-rider" method="POST" enctype="multipart/form-data">
            <fieldset>
                <legend>Create Riders</legend>
                <div class="input-group">
                    <label for="">Name: </label>
                    <input id="name" type="text" name="name" />
                </div>
                <div class="input-group">
                    <label for="">Idteam: </label>
                    <input type="text" name="idteam" />
                </div>
                <div class="input-group">
                    <label for="">Chon file uplpad</label>
                    <input type="file" id="fileInput" name="pictureId" onchange="previewImage(event)" />
                </div>
                <img id="preview" style="max-width: 200px; display: none;" />
                <div class="input-group">
                    <label for="">Points: </label>
                    <input type="text" name="points" />
                </div>
                <div>
                    <button>Add new</button>
                </div>
            </fieldset>
        </form>
        <% } else if(type === 'team') { %>
            <form action="/create-team" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Create Team</legend>
                    <div class="input-group">
                        <label for="">Name: </label>
                        <input type="text" name="name" />
                    </div>
                    <div class="input-group">
                        <label for="">Country: </label>
                        <input type="text" name="country" />
                    </div>
                    <div class="input-group">
                        <label for="">Chon file uplpad</label>
                        <input type="file" id="fileInput" name="pictureTeam" onchange="previewImage(event)" />
                    </div>
                    <img id="preview" style="max-width: 200px; display: none;" />
                    <div class="input-group">
                        <label for="">Member: </label>
                        <input type="text" name="members" />
                    </div>
                    <div class="input-group">
                        <label for="">idcalendar: </label>
                        <input type="text" name="idcalendar" />
                    </div>
                    <div>
                        <button>Add new</button>
                    </div>
                </fieldset>
            </form>
            <% } else if(type === 'calendar') { %>
                <form action="/create-calendar" method="POST" >
                    <fieldset>
                        <legend>Create Calendar</legend>
                        <div class="input-group">
                            <label for="">Address: </label>
                            <input id="address" type="text" name="address" />
                        </div>
                        <div class="input-group">
                            <label for="">Date: </label>
                            <input type="text" name="dates" />
                        </div>
                        <div class="input-group">
                            <label for="">Time: </label>
                            <input type="text" name="times" />
                        </div>
                        <div>
                            <button>Add new</button>
                        </div>
                    </fieldset>
                </form>
                <% } else if(type === 'results') { %>
                    <form action="/create-result" method="POST" >
                        <fieldset>
                            <legend>Create Results</legend>
                            <div class="input-group">
                                <label for="">Standing: </label>
                                <input id="standing" type="text" name="standing" />
                            </div>
                            <div class="input-group">
                                <label for="">Points: </label>
                                <input type="text" name="points" />
                            </div>
                            <div class="input-group">
                                <label for="">Idrider: </label>
                                <input type="text" name="idrider" />
                            </div>
                            <div class="input-group">
                                <label for="">idcalendar: </label>
                                <input type="text" name="idcalendar" />
                            </div>
                            <div>
                                <button>Add new</button>
                            </div>
                        </fieldset>
                    </form>
        <% } %>
    </div>
    <script src="/src/public/js/menu.js">

    </script>
</body>

</html>