<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Delete Rider</title>
</head>

<body>
    
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/creat-rider">News</a></li>
        </ul>

        <div class="form">
            <form action="/delete-rider" method="POST">
                <fieldset>
                    <legend>delete Riders</legend>
                    <div class="input-group d-none">
                        <label for="">Id: </label>
                        <input id="RiderId" type="text" name="RiderId" value="<%=RiderId.idrider%>"/>
                    </div>
                    <div class="input-group">
                        <label for="">Are you sure to deleto this Rider with name:  </label>
                        <input id="name" type="text" name="email" value="<%=RiderId.name%>"/>
                    </div>
                    
                    <div>
                        <button>Confirm</button>
                    </div>
                </fieldset>
            </form>
        </div>

</body>

</html>