<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Delete users</title>
</head>

<body>
    
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/creat-user">News</a></li>
        </ul>

        <div class="form">
            <form action="/delete-user" method="POST">
                <fieldset>
                    <legend>delete users</legend>
                    <div class="input-group d-none">
                        <label for="">Id: </label>
                        <input id="userId" type="text" name="userId" value="<%=userId.id%>"/>
                    </div>
                    <div class="input-group">
                        <label for="">Are you sure to deleto this user with Email:  </label>
                        <input id="emailId" type="text" name="email" value="<%=userId.email%>"/>
                    </div>
                    
                    <div>
                        <button>Confirm</button>
                    </div>
                </fieldset>
            </form>
        </div>

</body>

</html>