*{
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.d-none{
    display: none;
}
.table-container{
    padding: 15px 20px;

}
.title{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
}
tr{
    padding: 10px;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.input-group{
    padding :10px;
}
fieldset{
    width: 500px;
    margin: 0 auto;
    padding: 30px;
}
button{
    margin: 10px;
    cursor: pointer;
}